footer {
    background-color: rgba(10, 10, 10, 0.9);
    color: #ddd;
    margin: 0 50px;
}

.footer-links {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 1000px;
    margin: 0 auto;

    a {
        color: orange;
    }

    a:hover {
        color: #111;
        background-color: orange;
    }

    div {
        float: left;
        width: 25%;

        p {
            margin: 0px;
            font-weight: bold;
        }

        ul {
            margin: 0px;
            list-style: none;
            padding-left: 10px;
        }
    }
}

.footer-links:after {
    content: "";
    display: table;
    clear: both;
}

.footer-copyright {
    padding: 10px;
    color: #888;
    text-align: center;
    padding-bottom: 20px;
}
