.header_wrapper {
    background-image: url('images/header.jpg');
    position: relative;
    height: 130px;

    @media (max-width: @screen-medium-res){
        height: 100px;
    }

    @media (max-width: @screen-small-res){
        height: 80px;
    }

    .header_color_wrapper_outer {
        width: 100%;
        position: absolute;
        bottom: 0px;

        .header_color_wrapper_inner {
            background-color: rgba(0, 0, 0, 0.8);
            height: @nav-bar-height;
            .size-dependend-margin;
        }
    }
}

.navigation-tools {
    position: relative;
    height: 100%;
    max-width: @max-content-width;
    margin: 0 auto;

    > nav {
        position: absolute;
        bottom: 0px;
        max-width: @max-content-width - 300px;
        margin-left: 120px;
    }

    > .searchform {
        position: absolute;
        right: 0px;
        bottom: 0px;

        i.fa-search {
            position: absolute;
            right: 8px;
            top: 3px;
            color: #4D4D4D;
        }
    }

    > .logo {
        position: absolute;
        left: -90px;
        bottom: -40px;

        @media (max-width: @screen-medium-res) {
            left: -20px;
            bottom: -30px;
            img {
                width: 75%;
            }
        }

        @media (max-width: @screen-small-res) {
            left: -10px;
            bottom: -20px;
            img {
                width: 60%;
            }
        }
    }
}

/** currently unused **/
.login {
    float: right;
    font-size: 12px;
    margin-top: 3px;
    margin-right: 8px;

    a {
        color: #3EA615;
    }
}

.searchform {
    height: 24px;
    width: @searchform-width;
    margin: 13px;
    padding: 0px 5px;
    border-radius: 4px;
    background-color: #ADADAD;

    input {
        height: 20px;
        width: @searchform-width - 20px;
        /* clean defaults */
        background: transparent;
        border: none;
        padding: 0px;
        margin: 0px;
    }
}
