/** css for the navigation bar **/
/* http: //css-tricks.com/targetting-menu-elements-submenus-navigation-bar/ */
nav {
    display: block;
    width: 1000px;
    font-size: 18px;
    margin: auto;
}

.nav-color-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.nav {
    margin: 0;
    padding: 0;
    padding: 5px;
    list-style: none;
    margin-left: 180px;
}

.nav a {
    color: white;
    position: relative;
    margin: 0px 10px;
}

.nav li:before {
    content: '|';
    color: white;
}

.nav li:first-child:before {
   content: '';
}

.nav a:hover {
    text-decoration: none;
}

.nav {
    vertical-align: top;
    display: inline-block;
}

.nav li {
    position: relative;
}

.nav > li {
    float: left;
    margin: 10px 0;
}

.nav li:hover > a {
    color: orange;
}

.nav li a:first-child:nth-last-child(2):before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 50% ;
}
