body {
    background-image: url('images/background.jpg);
    background-attachment: fixed;
}

.main-content-wrapper {
    padding: 30px;
    margin: 0px @outermost-wrapper-margin;
    background-color: #ddd;
}

.content_wrapper {
    max-width: @content-width;
    margin: 0px auto;
    position: relative;
}

.article-title {
    margin-top: 0px;
}

.tool-icons {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;

    div.tool-dropdown {
        float: left;
        postion: relative;

        > button {
            position: relative;
            margin: 0px;
            padding: 0px;
            background-color: transparent;
            border: none;
            color: gray;
        }

        > div{
            position: absolute;
            left: -75px;
            top: 30px;
            margin: 0px;
            width: 180px;

            ul {
                padding: 0px;
                margin: 0px;
                list-style: none;
            }
        }
    }
}

.fullsize {
    width: @content-width;
}
