body {
    background-image: url('images/background.jpg);
    background-attachment: fixed;
}

.main-content-wrapper {
    padding: 30px;
    margin: 0px @outermost-wrapper-margin;
    background-color: #ddd;
}

.content_wrapper {
    max-width: @content-width;
    margin: 0px auto;
    position: relative;
}

.firstHeading {
    margin-top: 0px;
}

.tool-icons {
    position: absolute;
    right: 0px;
    top: 0px;

    > a {
        margin: 5px;
        color: gray;
        position: relative;
        > div {
            position: absolute;
            margin-top: 10px;
        }
    }
}
