/** general stuff ------------------------------------------------------------------------------ **/
@font-face {
    font-family: Open Sans;
    src: url('../fonts/OpenSans-Regular.woff2'),
         url('../fonts/OpenSans-Regular.woff'),
         url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Open Sans Light;
    src: url('../fonts/OpenSans-Light.woff2'),
         url('../fonts/OpenSans-Light.woff'),
         url('../fonts/OpenSans-Light.ttf');
}

body {
    background-image: url('../images/background.jpg);
    font-family: "Open Sans";
    font-size: 16px;
    background-attachment: fixed;
    margin: 0px;
}

a, a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: "Open Sans Light";
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

/** header ------------------------------------------------------------------------------------- **/
.login {
    float: right;
    font-size: 12px;
    margin-top: 3px;
    margin-right: 8px;
}

.login a {
    color: #3EA615;
}

.header_wrapper {
    background-image: url('../images/header.jpg');
    height: 130px;
}

.header_container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.header_container > a {
    position: absolute;
    top: 15px;
    left: -50px;
}

.header_container > nav {
    position: absolute;
    bottom: 0px;
}

.header_container > .searchform {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #ADADAD;
    height: 25px;
    width: 200px;
    margin: 15px;
    padding-left: 5px;
    border-radius: 4px;
}


.searchform input {
    background: none;
    border: none;
}

/** other stuff -------------------------------------------------------------------------------- **/

.outerbox {
    max-width: 100%;
    background-color: #ddd;
    margin: 0 50px;
    /*padding: 5px;*/
}

.main-content-wrapper {
    padding: 10px;
}

.content_wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

