.toolbox {
    background-color: #aaa;
    color: #222;
    float: left;
    width: 100%;

    p {
        margin: 0px;
    }

    a {
        color: #111;
    }

    li {
        list-style-type: none;
        padding: 2px;
        padding-left: 10px;
        padding-right: 20px;
    }

    li:nth-child(even) {
        background: #ddd;
    }

    li:hover {
        background-color: #00be50;
    }

    .toolbox_title {
        padding: 5px;
        background-color: #222;
        text-align: center;
        color: #ddd;
        font-weight: bold;
    }

    .toolbox_section {
        background-color: #ccc;
        margin: 3px;
        margin-bottom: 10px;
        font-size: 14px;

        ul {
            padding: 0px;
            margin: 0px;

            a {
                width: 100%;
                heigth: 100%;
            }
        }

        p {
            padding: 5px;
            background-color: @dark-grey;
            border-bottom-style: solid;
            border-bottom-width: 3px;
            border-bottom-color: #40A000;
            font-weight: bold;
        }
    }
}
