#head {
    width: auto;
    margin: 1em 0 0 0;
    padding: 0.5em 1em;

    background: white;
}
#logo { position: static; }
#logo img { display: block; width: 160px; height: auto;}

#nav {
    display: block;

    padding-left: 1em;

    background: #fefefe; color: #202020;
}

#nav li a { color: #fdfefd;}
#nav li a:hover { color: #ffffff;}

#content {
    border: none;
    border-top: 64px solid #202020;
    background: #fdfdfd;
}

#content h1 {
    margin-top: 2em;
}

#wikiControls {
    overflow: auto;
    margin-left: 1.5em;
}

#wikiControls li,
#wikiControls #userMenu li,
#wikiControls #editMenu li,
#wikiControls #editMenu #editMiniMenu li,
#wikiControls #editMenu #editMiniMenu #wikiThis li,
#wikiControls #editMenu #editMiniMenu #wikiOther li,
#wikiControls li a
#wikiControls #editMenu li a {
    margin: 0; padding: 0;
}