@import 'reset.css';
@import 'type.css';
@import 'wiki_controls.css';
@import 'sub_sections.css';

/*
  ============================================================================
  Common styles
  ============================================================================
*/

/* Basic styles */
h1, h2, h3, h4, h4, h5, h6 {
    margin: 1em 16px 0.5em 16px;
}

h1 {
    padding-bottom: 0.25em;

    border-bottom: 1px solid #c0c0c0;
}

p, li, form {
    margin: 0.5em 18px;
}

/* Style from MonoBook */

#content a[href ^="http://"], #content a[href ^="gopher://"] {
	background: url(images/links/external.png) center right no-repeat;
	padding-right: 13px;
}

#content a[href ^="https://"], .link-https {
	background: url(images/links/lock_icon.gif) center right no-repeat;
	padding-right: 16px;
}

#content a[href ^="mailto:"], .link-mailto {
	background: url(images/links/mail_icon.gif) center right no-repeat;
	padding-right: 18px;
}   

#content a[href ^="news://"] {
	background: url(images/links/news_icon.png) center right no-repeat;
	padding-right: 18px;
}   

#content a[href ^="ftp://"], .link-ftp {
	background: url(images/links/file_icon.gif) center right no-repeat;
	padding-right: 18px;
}

#content a[href ^="irc://"], .link-irc {
	background: url(images/links/discussionitem_icon.gif) center right no-repeat;
	padding-right: 18px;
}

/* Page */
body {
    margin: 32px 7.5%;

    background: white url('images/background.jpg') top left no-repeat;
}

/* Header */
#head {
    margin-bottom: 64px;
}

#logo {
    position: absolute;
    top: 48px; left: 32px;
}

/* Navigation */
#nav {
    overflow: hidden;

    padding: 0 0 0 256px;
    list-style: none;

/*    background: url('images/nav/background_left.png') top left no-repeat;*/
    background: url('images/nav/background_middle.png') top left repeat-x;
    color: #f0f0f0;
}

#nav li {
    float: left;

    margin: 0;
}

#nav li a {
    display: block;

    padding: 22px 1em;

    color: #f0f0f0;

    text-decoration: none;
}

#nav li a:hover { color: white }

/* Wiki controls */
#wikiControls {
    overflow: hidden;

/*        background: url('images/nav/background_right.png') top right no-repeat;*/
}

/* Content */
#content {
    overflow: hidden;

    padding: 1em;

    border: 1px solid white;
    background: url('images/page_background.png');
}

#content a {
    color: #40a000;

    /*font-weight: bold;*/
    text-decoration: none;
}
#content a:hover { color: #208000; }
#content a:focus { background: #40a000; color: #fffff0; }
#content a.new { color: #f08000; }
#content a.new:focus { background: #f08000; color: #ffffff }

/* Footer */
#foot {
    margin: 1em 2em; padding: 1em 2em;
    
    border-top: 1px solid #c0c0c0;
    color: #606060;
}
#foot a {
    color: #40a000;

    text-decoration: none;
}
#foot #site_credits { float: right; }
#foot #last_mod {
    margin-bottom: 0.5em;
}

.printfooter { display: none; } /* Hide print footer */


/*
  ============================================================================
  Front page styles
  ============================================================================
*/

/* Main */
#main {
    float: left;

    width: 60%;
}

    /* Summary/Description */
    #main #description {
        width: 22em;
        margin: 2em 2em 0 2em;

        /*background: url('images/home/quote_open.png') top left no-repeat;*/
    }
    #main #description.afterWikiControls {
        margin-top: -1em; /* When JS is enabled, the wiki controls menu will be above and to the right, so we shift the description up to line it up */
    }
    #main #description p {
        width: 22em;
        /*padding: 0.5em;

        background: url('images/home/quote_close.png') bottom right no-repeat;*/
        color: #606060;

        /*font-size: 1.5em;
        font-weight: bold;*/
    }

    /* News */
    #news { margin: 0 2em 1em 2em; }
    #news h2 { margin-top: 2em; }

/* Latest release */
#latest {
    overflow: hidden;

    width: 30%;
    margin-top: 3em;
}
#latest h2 { margin-left: 0; }
#latest h2 .version { color: #80c030; }

#latest #screenshots.front { overflow: hidden; }
#latest #screenshots.front li {
    float: left;

    width: auto;
    margin: 0 4px 4px 0; padding: 0;

    list-style: none;
}
#screenshots.front li a { display: block; }
#screenshots.front li img {
    display: block;

    width: 128px; height: 96px;
}

/* Contribution info */
#helping {
    overflow: hidden;

    width: 30%;
    margin-top: 3em;
}
#helping h2, #helping p { margin: 0.5em 0; }


/*
  ============================================================================
  Screenshots & Videos page
  ============================================================================
*/
#screenshots_videos ul { overflow: hidden; }
#screenshots_videos ul li {
    float: left;

    width: 320px;
    margin: 1em;

    list-style: none;
}

#screenshots_videos li img {
    width: 320px;
    height: 240px;
}

/*
  ============================================================================
  Downloads page styles
  ============================================================================
*/
#downloads_container { max-width: 72em; margin-bottom: 2em; }
#downloads_container .accordion_toggle { max-width: 72em; }
#downloads_container ul { list-style-type: none; }

/* Inactive toggles */
#downloads_container #header_linux a { background: url('images/download/linux.png') 12px center no-repeat; }
#downloads_container #header_mac a { background: url('images/download/mac.png') 12px center no-repeat; }
#downloads_container #header_win a { background: url('images/download/win.png') 12px center no-repeat; }
#downloads_container #header_bsd a { background: url('images/download/bsd.png') 12px center no-repeat; }
#downloads_container #header_solaris a { background: url('images/download/solaris.png') 12px center no-repeat; }
#downloads_container #header_source a { background: url('images/download/source.png') 12px center no-repeat; }

/* Hovered/focused/active toggles */
#downloads_container #header_linux:hover a,
#downloads_container #header_linux.accordion_toggle a:focus,
#downloads_container #header_linux.accordion_toggle_active a { background: url('images/download/linux_active.png') 12px center no-repeat; color: #404040; }

#downloads_container #header_mac:hover a,
#downloads_container #header_mac.accordion_toggle a:focus,
#downloads_container #header_mac.accordion_toggle_active a { background: url('images/download/mac_active.png') 12px center no-repeat; color: #404040; }

#downloads_container #header_win:hover a,
#downloads_container #header_win.accordion_toggle a:focus,
#downloads_container #header_win.accordion_toggle_active a { background: url('images/download/win_active.png') 12px center no-repeat; color: #404040; }

#downloads_container #header_bsd:hover a,
#downloads_container #header_bsd.accordion_toggle a:focus,
#downloads_container #header_bsd.accordion_toggle_active a { background: url('images/download/bsd_active.png') 12px center no-repeat; color: #404040; }

#downloads_container #header_solaris:hover a,
#downloads_container #header_solaris.accordion_toggle a:focus,
#downloads_container #header_solaris.accordion_toggle_active a { background: url('images/download/solaris_active.png') 12px center no-repeat; color: #404040; }

#downloads_container #header_source:hover a,
#downloads_container #header_source.accordion_toggle a:focus,
#downloads_container #header_source.accordion_toggle_active a { background: url('images/download/source_active.png') 12px center no-repeat; color: #404040; }

/* Make link same colour as headings */
#downloads_container .accordion_toggle a { color: #606060; }

/* Margin fix for lists in accordion */
#downloads_container .accordion_content li { margin: 0.5em 0; }

/* Linux-specific styles */
#download_linux li { overflow: hidden; margin-bottom: 0.25em; }
#download_linux li img {
    float: left; clear: left;

    margin-right: 1em; padding: 0.5em;

    border-radius: 6px; -moz-border-radius: 6px;
    background: white;
}
.distro_highlight {
    display: block;
    margin: 0.25em; padding: 0.25em;

    background: #f0f0b0;
    color: #c06000;
}

/*
  ============================================================================
  Development page styles
  ============================================================================
*/

#dev_prog, #dev_contrib {
    float: left;

    width: 46%;
    margin: 1em 1%; padding-bottom: 1em;

    border-radius: 4px; -moz-border-radius: 4px;
    background: #e4e4d8;
}
#dev_prog h2, #dev_contrib h2 {
    margin: 0; padding: 0.75em 16px 0.75em 16px;

    background: #d4d4c8 url('images/accordion/heading_background.png') top left repeat-x;
}

#get_involved #donate {
    width: 100%;
}

/*
  ============================================================================
  'Discover' page styles
  ============================================================================
*/
#discover_learn, #discover_see {
    float: left;

    width: 46%;
    margin: 1em 1%; padding-bottom: 1em;

    border-radius: 4px; -moz-border-radius: 4px;
    background: #e4e4d8;
}
#discover_learn h2, #discover_see h2 {
    margin: 0; padding: 0.75em 16px 0.75em 16px;

    background: #d4d4c8 url('images/accordion/heading_background.png') top left repeat-x;
}

/* Downloads table */
#download_sites {
    margin: 0 1em;
}
#download_sites th { font-weight: bold; }
#download_sites td, #download_sites th { padding: 0.125em 0.25em; }

/*
  ============================================================================
  FAQ styles
  ============================================================================
*/


/*
  ============================================================================
  Editing page styles
  ============================================================================
*/

#toolbar {
    margin: 1em 0 0 1.25em;
}

#editform { margin-left: 1.25em; }
#editform #wpTextbox1 { width: 100%; max-width: 72em;}

/*
  ============================================================================
  Login/Prefs styles
  ============================================================================
*/

form h2,
form p {
    margin: 1em 0 0.5em 0;
}

fieldset {
    margin: 2em 0;
}

fieldset legend {
    margin-bottom: 0.5em;

    color: #202020;

    font-size: 1.4em;
}
form table { border-spacing: 10px; }
form table td { margin: 10px !important; }
form table label {
    margin-right: 12px;
}

#login-emailforlost {
    padding: 0.5em 18px;

    border: 1px solid #e0c080;
    background: #ffefd0;
}
