/* Accordion headings */
.accordion_toggle {
    margin: 0 0.5em;

    background: #d4d4c8 url('images/accordion/heading_background.png') top left repeat-x;
    border-bottom: 1px solid #c0c0c0;
    color: #404040;
    cursor: pointer;
}
.accordion_toggle a {
    display: block;

    padding: 1.5em 4em;
}

/* Accordion content sections */
.accordion_content {
    margin: 0 0.65em; padding: 1em;

    border-bottom: 2px solid #808080;
    background-color: #ecece5;
}

.accordion_content ul, .accordion_content ul li { margin: 0; padding: 0.5em 1em; }

