body {
    background: white;
    color: black;

    font: normal 80%/150% sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #606060;

    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

h1 { font-size: 1.5em; }
h2 { max-width: 40.5em; font-size: 1.4em; }
h3 { max-width: 46.5em; font-size: 1.2em; }
h4 { max-width: 50.5em; font-size: 1.1em; }
h5 { max-width: 55.5em; font-size: 1.0em; }
h6 { max-width: 55.5em; font-size: 1.0em; }

p, li {
    line-height: 175%;
    text-align: justify;
}

code, pre {
    display: block;

    margin: 0.75em 0; padding: 0.5em;

    border: 1px dashed #808080;
    background: white;
    overflow: auto;

    /* yes, twice... this is due to a "feature" inherited from old netscape days */
    font-family: monospace, monospac;
    white-space: pre;
}

ins { text-decoration: none;}

#content ul { list-style: square inside }
#content ol { list-style: decimal inside }
#content p, #content li { max-width: 56em; }
