/*
  ============================================================================
  TOC styles
  ============================================================================
*/

#toc {
    margin: 0 0.75em; padding: 0.5em 0.55em;

    border: 1px solid #808080;
    background: white;
}
#toctitle { margin: 0; padding: 0; }
#toctitle h2 { margin: 0 6em 0 0; }
#toctitle .toctoggle {
    display: block;
    position: relative; top: -1.5em; z-index: 1;
    overflow: visible;

    height: 0;

    text-align: right;
}
#toctitle .toctoggle { text-decoration: none; }

/*
  ============================================================================
  Edit section link styles
  ============================================================================
*/
#content .editsection {
    display: block;
    float: right;

    margin: 1em;
}
#content .editsection a {
    padding: 0.25em 0.5em;

    background: #40a000; color: white;
}
#content .editsection a:hover { background: #208000; color: white; }


/*
  ============================================================================
  Login/User/Edit Menus
  ============================================================================
*/

#wikiControls ul { list-style-type: none; }
#wikiControls ul li { width: auto; }

/* Menu toggles */
.dynamic .toggle { display: block; margin-right: 0.5em; }
/* All pop-up menus (for example, the 'edit mini menu') */
.dynamic .popup {
    position: absolute; z-index: 2;
}

/* Popup-toggle buttons */
#wikiControls.dynamic .toggle, #wikiControls.dynamic .login {
    display: block;

    padding: 6px 1em;
}
#wikiControls.dynamic .toggle {
    background: url('images/wiki_controls/more.png') right center no-repeat;
    cursor: pointer;
}

/* Links */
#wikiControls a {
    color: #f0f0f0;
}

/* Search */
.dynamic #search {
    margin: 0 1em 0 60%; padding: 4px 0;
}
.dynamic #search form { margin-left: 0; }
#search label {
    display: inline;
}

#searchField {
    padding: 4px;

    border: 1px solid #404040;
}

/*Login/User links */
/* Dynamic */
.dynamic #userLinks {

    float: left;
    overflow: hidden;

    margin: 0 0 0 60%;
    list-style: none;

    background: url('images/wiki_controls/user_background.png') center left no-repeat;
    color: white;
}

.dynamic #userLinks .login a {
    color: #f0f0f0;

    font-weight: normal;
    text-decoration: none;
}


.dynamic #userMenu {
    border: 1px solid #b0b0b0;
    background: white url('images/wiki_controls/menu_background.png') bottom left repeat-x;
    color: #808080;
}

/* Non-dynamic */
#userLinks { margin: 1em 0; }

/* Common */
#userMenu li {
    margin: 0.5em;
}

/* Edit menu */
/* Container */
.dynamic #editMenu {
    float: left;

    background: url('images/wiki_controls/tools_background.png') center right no-repeat;
    color: white;
}
.dynamic #editMenu li { float: left; margin: 0; list-style-type: none; }
#editMenu li { float: none; }
/* Actual menu */
.dynamic #editMiniMenu {
    width: 22em;

    border: 1px solid #b0b0b0;
    background: white url('images/wiki_controls/menu_background.png') bottom left repeat-x;
    color: #808080;
}

.dynamic #editMiniMenu .label {
    display: block;

    margin-left: 0.5em;

    font-weight: bold;
}
.dynamic #editMiniMenu .wikiThis, .dynamic #editMiniMenu .wikiOther {
    float: left;

    width: 10em;
}
.dynamic #editMiniMenu li { float: none; }
#editMiniMenu li ul li { margin: 0.25em 0; }
#editMiniMenu li a {
    display: block;

    text-align: left;
}
#editMiniMenu li { margin-left: 0; }
.dynamic #editMiniMenu li a { padding: 0 0.5em;}
